:root{
    --blue:rgba(60, 165, 203);
    --blue-alpha:rgba(60, 165, 203,.5);
}
body {
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/Brand\ Book\ qAIRa-16.svg");
    background-size: cover;
}

#logo-navbar {
    max-width: 45%;
}


.card {
    margin-top: 2em;
    background-color: var(--blue-alpha);
}

