:root{
    --blue:rgba(60, 165, 203);
    --blue-alpha:rgba(60, 165, 203,.5);
    --white-alpha:rgb(255, 255, 255, .5);
}
body {
    background-image: url("../img/Brand\ Book\ qAIRa-16.svg");
    background-size: cover;
}

form{
max-height: 25em;
}

.row{
    margin-bottom: 0;
}


.card {
    margin-top: 2em;
    background-color: var(--white-alpha);
}

